DISCORD_TOKEN=your_bot_token
CLIENT_ID=your_application_id
# 開發時填入伺服器 ID，指令會立刻更新；正式環境可留空以註冊全域指令
GUILD_ID=your_test_server_id
STARTING_COINS=1000
MIN_BET=10
# 個人貸款額度由程式依玩家信用計算，硬上限為 100,000,000
LOAN_DAILY_INTEREST_RATE=0.02
TEAM_HEIST_PREP_FEE=3000
TEAM_HEIST_INFORMANT_REWARD=5000
SOLO_HEIST_REWARD=40000
TEAM_HEIST_MEMBER_REWARD=110000
TEAM_HEIST_TEAMMATE_BONUS=5000
TEAM_HEIST_POLICE_BASE_REWARD=30000
TEAM_HEIST_POLICE_POOL_RATE=0.30
ACTIVITY_PUBLIC_URL=https://macau-casino-garage.kris55.chatgpt.site
ACTIVITY_API_PORT=8787
ACTIVITY_SIGNING_SECRET=generate_a_long_random_secret
ACTIVITY_BACKEND_SECRET=generate_a_different_long_random_secret
